.priority-master {
  background-color: #f8f9fa;
  border-radius: 10px;
}

.table th,
.table td {
  vertical-align: middle;
}

.form-label {
  font-size: 14px;
}
.priority-master .btn-dark,
.priority-master .btn-danger {
  min-width: 160px;
  font-weight: 500;
}

.priority-master .table th,
.priority-master .table td {
  vertical-align: middle;
}

.priority-master .form-label {
  font-size: 14px;
  font-weight: 500;
}