<div class="card shadow-sm">
  <div class="container-fluid p-4 news-management">

    <!-- Header -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h4 class="fw-semibold">Company News</h4>
      <!-- <button class="btn btn-danger" (click)="resetForm()">
        <i class="fa-solid fa-plus me-2"></i> Bulk Upload
      </button> -->
    </div>
    <hr />

    <!-- Form -->
<div class="card shadow-sm mb-4" id="newsFormSection">
        <div class="card-body">
<form (ngSubmit)="onSubmit()" #newsForm="ngForm">

  <div class="row g-3">

    <!-- Company Dropdown -->
    <div class="col-md-6">
      <label class="form-label fw-semibold">Company<span class="text-danger">*</span></label>
      <select class="form-select" name="CompanyId" (change)="onCompanyChange()" [(ngModel)]="news.CompanyId" required>
        <option [ngValue]="null">Select Company</option>
        <option *ngFor="let c of companies" [ngValue]="c.companyId">
          {{ c.companyName }}
        </option>
      </select>
    </div>

    <!-- Region Dropdown -->
    <div class="col-md-6">
      <label class="form-label fw-semibold">Region<span class="text-danger">*</span></label>
      <select class="form-select" name="RegionId" [(ngModel)]="news.RegionId" (change)="onRegionChange()" required>
        <option [ngValue]="null">Select Region</option>
        <option *ngFor="let r of filteredRegions" [ngValue]="r.regionId">
          {{ r.regionName }}
        </option>
      </select>
    </div>

    <!-- News Title -->
    <div class="col-md-6">
      <label class="form-label">News Title<span class="text-danger">*</span></label>
      <input type="text"
             [(ngModel)]="news.Title"
             name="Title"
             class="form-control"
             placeholder="Enter news headline"
             required>
    </div>

    <!-- Department -->
    <!-- Department MULTI CHECKBOX DROPDOWN -->
<div class="col-md-6 position-relative" #departmentDropdown>
  <label class="form-label">Departments<span class="text-danger">*</span></label>

  <!-- clickable box -->
<div
  class="form-select"
  style="cursor:pointer"
  (click)="toggleDepartmentDropdown($event)">

    {{ news.departmentIds.length + ' Selected' }}
  </div>

  <!-- dropdown -->
  <div
  *ngIf="showDeptDropdown"
  class="border bg-white shadow p-2 position-absolute w-100"
  style="z-index:1000; max-height:250px; overflow:auto;"
  (click)="$event.stopPropagation()">

    <!-- Select All -->
    <div class="form-check mb-2">
      <input type="checkbox"
             class="form-check-input"
             [checked]="news.departmentIds.length === departments.length"
             (change)="toggleAllDepartments($event)">

      <label class="form-check-label fw-bold">
        Select All
      </label>
    </div>

    <hr>

    <!-- Department list -->
    <div *ngFor="let d of filteredDepartments" class="form-check">

      <input type="checkbox"
             class="form-check-input"
             [checked]="news.departmentIds.includes(d.departmentId)"
             (change)="onDepartmentChange($event, d.departmentId)">

      <label class="form-check-label">
        {{ d.departmentName }}
      </label>

    </div>

  </div>
</div>

    <!-- Publish Date -->
    <div class="col-md-6">
      <label class="form-label">Publish Date<span class="text-danger">*</span></label>
      <input type="date"
             class="form-control"
             [(ngModel)]="news.PublishedDate"
             name="PublishedDate" required>
    </div>

    <!-- Category -->
    <div class="col-md-6">
      <label class="form-label">Category<span class="text-danger">*</span></label>
      <select class="form-select"
              [(ngModel)]="news.Category"
              name="Category" required>
              <option value="">Select Category</option>

    <option *ngFor="let c of categories"
            [value]="c.categoryName">
      {{ c.categoryName }}
    </option>
      </select>
    </div>

    <!-- Description -->
    <div class="col-md-12">
      <label class="form-label">Description<span class="text-danger">*</span></label>
      <textarea class="form-control"
                rows="3"
                [(ngModel)]="news.Description"
                name="Description"
                placeholder="Enter news description"
                required>
      </textarea>
    </div>

    <!-- File Upload -->
    <div class="col-md-6">
      <input type="file"
       class="form-control"
       (change)="onFileSelected($event)"
       accept=".pdf,.jpg,.png">

<!-- ✅ Existing Attachment -->
<div *ngIf="news.AttachmentName" class="mt-2">

  <a [href]="news.AttachmentUrl"
     target="_blank">

    {{ news.AttachmentName }}

  </a>

</div>
    </div>

    <!-- Submit Button -->
    <div class="col-md-6 d-flex align-items-end">
      <button type="submit" class="btn btn-dark w-100">
        <i class="fa-solid fa-save me-2"></i>
        {{ isEditMode ? 'Update' : 'Publish' }}
      </button>
    </div>

  </div>

</form>
      </div>
    </div>

    <!-- Table -->
    <div class="card shadow-sm">
      <div class="card-body">

        <!-- Filters -->
        <div class="mb-3 row g-3 align-items-end">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search by Title" [(ngModel)]="searchText" (ngModelChange)="onFilterChange()" />
          </div>
          <div class="col-md-4">
            <!-- <select class="form-select" [(ngModel)]="searchCategory">
              <option value="">All Categories</option>
              <option *ngFor="let c of categories" [value]="c">{{ c }}</option>
            </select> -->
          </div>
          <div class="col-md-4 d-flex">
            <input type="date" class="form-control me-2" [(ngModel)]="startDate" placeholder="From" (ngModelChange)="onFilterChange()" />
            <input type="date" class="form-control" [(ngModel)]="endDate" placeholder="To" (ngModelChange)="onFilterChange()" />
          </div>
        </div>

        <!-- Table -->
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th style="width:50px;">S.No</th>
              <th>Title</th>
              <th>Category</th>
              <th>Description</th>
              <th>Date</th>
              <th class="text-center">Department</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let n of paginatedNews; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ n.Title }}</td>
              <td>{{ n.Category }}</td>
              <td>{{ n.Description | slice:0:50 }}...</td>
              <td>{{ n.Date | date:'dd-MMM-yyyy' }}</td>
              <td>
               {{ getDepartmentName(n.departmentIds) }}
              </td>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-primary me-2" type="button" (click)="editNews(n)">
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" type="button" (click)="confirmDelete(n)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="filteredNews().length === 0">
              <td colspan="7" class="text-center text-muted">No records found</td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-between align-items-center mt-3">

  <!-- SHOW DROPDOWN -->
  <div class="d-flex align-items-center">
    <span>Show</span>

    <select class="form-select form-select-sm mx-2"
            style="width: 80px;"
            [(ngModel)]="pageSize"
            (change)="onPageSizeChange()">

      <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
        {{ size }}
      </option>

    </select>

    <span>entries</span>
  </div>

  <!-- RIGHT: PAGINATION -->
  <nav>
    <ul class="pagination pagination-sm mb-0">

      <li class="page-item" [class.disabled]="currentPage === 1">
        <button class="page-link" (click)="prevPage()">Prev</button>
      </li>

      <li class="page-item active">
        <span class="page-link">
          {{ currentPage }} / {{ totalPages }}
        </span>
      </li>

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button class="page-link" (click)="nextPage()">Next</button>
      </li>

    </ul>
  </nav>

</div>

      </div>
    </div>

  </div>
</div>