.relationship-master .form-label {
  font-weight: 500;
}

.relationship-master table th,
.relationship-master table td {
  vertical-align: middle;
}

.relationship-master .pagination .page-item.active .page-link {
  background-color: #198754;
  border-color: #198754;
  color: #fff;
}
.relationship-master .btn-dark,
.relationship-master .btn-danger {
  min-width: 160px;
}

.relationship-master .btn-dark {
  font-weight: 500;
}

.relationship-master .btn-danger {
  font-weight: 500;
}
