<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="dashboard-header">
  <h2 class="dashboard-title">Recruitment</h2>
  <nav class="breadcrumb">
    <a href="#">Home</a> &gt;
    <span>Recruitment</span>
  </nav>
</div>

<div class="tab-container recruitment-container">

  <div class="tab-header">

    <button
      *ngIf="canViewApplicationResumes"
      type="button"
      class="tab-label"
      routerLink="/recruitment/application-resumes"
      routerLinkActive="active">
      Application Resume
    </button>

    <button
      *ngIf="canViewResume"
      type="button"
      class="tab-label"
      routerLink="/recruitment/resume-upload"
      routerLinkActive="active">
      Resume Upload
    </button>

    <button
      *ngIf="canViewScreening"
      type="button"
      class="tab-label"
      routerLink="/recruitment/screening"
      routerLinkActive="active">
      Screening
    </button>

    <button
      *ngIf="canViewInterviews"
      type="button"
      class="tab-label"
      routerLink="/recruitment/interview"
      routerLinkActive="active">
      Interview
    </button>

    <button
      *ngIf="canViewAppointment"
      type="button"
      class="tab-label"
      routerLink="/recruitment/appointment"
      routerLinkActive="active">
      Appointment
    </button>

    <button
      *ngIf="canViewOffer"
      type="button"
      class="tab-label"
      routerLink="/recruitment/offer"
      routerLinkActive="active">
      Offer
    </button>

    <button
      *ngIf="canViewDocumentsVerification"
      type="button"
      class="tab-label"
      routerLink="/recruitment/documents-verification"
      routerLinkActive="active">
      Documents Verification
    </button>

    <button
      *ngIf="canViewOnboarding"
      type="button"
      class="tab-label"
      routerLink="/recruitment/onboarding"
      routerLinkActive="active">
      Onboarding
    </button>

  </div>

  <div class="tab-content">
    <router-outlet></router-outlet>
  </div>

</div>

<app-footer></app-footer>