<div class="dashboard-tables full-row mt-4">
  <div class="table-card">
    <h3>My Letters</h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Document Type</th>
          <th>Title</th>
          <th>Issued Date</th>
          <th>Validity</th>
          <th>Files</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let l of letters; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ getDocumentTypeName(l.documentType) }}</td>
          <td>{{ l.title }}</td>
          <td>{{ l.issuedDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ l.validityDate | date:'dd/MM/yyyy' : '-' }}</td>

          <td>

            <ng-container *ngIf="l.filePath; else noFile">

              <!-- VIEW -->
              <button
                type="button"
                class="btn btn-sm btn-primary me-2"
                (click)="viewDocument(l.filePath)">
                View
              </button>

              <!-- DOWNLOAD -->
              <button
                type="button"
                class="btn btn-sm btn-success"
                (click)="downloadDocument(l.filePath, l.fileName)">
                Download
              </button>

            </ng-container>

            <ng-template #noFile>
              <span class="text-muted">
                No File
              </span>
            </ng-template>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>