<div class="dashboard-tables full-row mt-4">
  <div class="table-card">
    <h3>My Letters</h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Document Type</th>
          <th>Title</th>
          <th>Issued Date</th>
          <th>Validity</th>
          <th>Files</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let l of letters; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ getDocumentTypeName(l.documentType) }}</td>
          <td>{{ l.title }}</td>
          <td>{{ l.issuedDate | date:'dd/MM/yyyy' }}</td>
          <td>{{ l.validityDate | date:'dd/MM/yyyy' : '-' }}</td>

          <td>
            <span *ngIf="l.fileName">
              <a style="cursor:pointer;color:blue"
                 (click)="viewDocument(l.fileName)">
                View / Download
              </a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>