<div class=" dashboard">
<h2 class="dashboard-title">Dashboard</h2>
  <!-- HEADER -->
  <div class="header span-4">
    <div>
      <h2>Welcome, {{ employeeName }}</h2>
      <p>{{ today | date:'fullDate' }}</p>
    </div>

    <div class="profile">
      <img *ngIf="profileImage; else initials" [src]="profileImage">
      <ng-template #initials>
        <div class="avatar">{{ profileInitials }}</div>
      </ng-template>
    </div>
  </div>

  <!-- STATS -->
  <div class="card stat-card" *ngFor="let card of statCards">
    <i [class]="card.icon"></i>
    <div>
      <p>{{ card.label }}</p>
      <h2>{{ card.value }}</h2>
    </div>
  </div>

  <!-- CHART -->
  <div class="card span-2">
    <div class="chart-legend">
  <div><span class="box present"></span> Present (Past Days)</div>
  <div><span class="box absent"></span> Absent</div>
  <div><span class="box today"></span> Today</div>
  <div><span class="box future"></span> Future Days</div>
  <div><span class="box weekoff"></span> Weekoff</div>
</div>
    <h3>Attendance Overview 📊</h3>
    <canvas id="attendanceChart"></canvas>
  </div>

  <!-- LEAVE SUMMARY -->
  <div class="card span-2">
    <h3>Leave Summary</h3>

    <div class="leave-summary">

  <div *ngFor="let s of leaveCards" class="leave-box">

    <i [class]="s.icon"></i>

    <p>{{ s.label }}</p>

    <h4>{{ s.value }}</h4>

    <!-- Tooltip -->
    <div class="tooltip-box">

      <!-- Approved -->
      <ng-container *ngIf="s.label === 'Approved'">
        <div *ngFor="let x of leaveApprovalSummary.approvedDetails">
          {{ x.leaveType }} : {{ x.count }}
        </div>
      </ng-container>

      <!-- Pending -->
      <ng-container *ngIf="s.label === 'Pending'">
        <div *ngFor="let x of leaveApprovalSummary.pendingDetails">
          {{ x.leaveType }} : {{ x.count }}
        </div>
      </ng-container>

      <!-- Rejected -->
      <ng-container *ngIf="s.label === 'Rejected'">
        <div *ngFor="let x of leaveApprovalSummary.rejectedDetails">
          {{ x.leaveType }} : {{ x.count }}
        </div>
      </ng-container>

    </div>

  </div>

</div>
  </div>

  <!-- QUICK ACTIONS -->
  <div class="card span-2">
    <h3>Quick Actions</h3>

    <div class="actions">
      <a (click)="openModule('/leave-management')">
  <i class="fas fa-calendar"></i> Leave
</a>

<a (click)="openModule('/clockin-out')">
  <i class="fas fa-clock"></i> Attendance
</a>

<a (click)="openModule('/timesheet')">
  <i class="fas fa-file-alt"></i> Timesheet
</a>

<a (click)="openModule('/help-desk')">
  <i class="fas fa-headset"></i> Helpdesk
</a>
    </div>
  </div>

  <!-- NOTIFICATIONS -->
  <div class="card span-2">
    <h3>Notifications</h3>

    <div class="notification">
      <span class="approved">Approved: {{ leaveApprovalSummary.approved }}</span>
      <span class="pending">Pending: {{ leaveApprovalSummary.pending }}</span>
      <span class="rejected">Rejected: {{ leaveApprovalSummary.rejected }}</span>
    </div>
  </div>

  <!-- TABS -->
  <div class="card span-4">
    <h3>Tasks & Activities</h3>

    <div class="tabs">
      <button [class.active]="activeTab === 'timesheet'" (click)="activeTab='timesheet'">
        Timesheet
      </button>
      <button [class.active]="activeTab === 'helpdesk'" (click)="activeTab='helpdesk'">
        Helpdesk
      </button>
    </div>

    <!-- TIMESHEET -->
    <div *ngIf="activeTab === 'timesheet'" class="tab-body scroll-table">
      <table>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Status</th>
        </tr>

        <tr *ngFor="let ts of paginatedTimesheets">
          <td>{{ ts.employeeName }}</td>
          <td>{{ ts.timesheetDate | date }}</td>
          <td>
             <span class="badge"
                [ngClass]="{
                  'bg-warning text-dark': ts.status === 'Pending',
                  'bg-success': ts.status === 'Approved',
                  'bg-danger': ts.status === 'Rejected',
                  'bg-primary': ts.status === 'Submitted'
                }">

            {{ ts.status }}

          </span>
          </td>
        </tr>
      </table>
      <div class="pagination-box">

        <button
          (click)="timesheetPage = timesheetPage - 1"
          [disabled]="timesheetPage === 1">

          Previous

        </button>

        <span>
          Page {{ timesheetPage }} of {{ totalTimesheetPages }}
        </span>

        <button
          (click)="timesheetPage = timesheetPage + 1"
          [disabled]="timesheetPage === totalTimesheetPages">

          Next

        </button>

      </div>
    </div>

    <!-- HELPDESK -->
    <div *ngIf="activeTab === 'helpdesk'" class="tab-body scroll-table">
      <table>
        <tr>
          <th>Ticket</th>
          <th>Priority</th>
          <th>Status</th>
        </tr>

        <tr *ngFor="let t of paginatedTickets">
          <td>{{ t.ticketNumber }}</td>
          <td>{{ t.priorityName }}</td>
          <td>
            <span class="badge" [ngClass]="{
                'bg-warning text-dark': t.status === 'Open',
                'bg-success': t.status === 'Approved',
                'bg-danger': t.status === 'Rejected'
              }">
              {{ t.status }}
            </span>
          </td>
        </tr>
      </table>
       <div class="pagination-box">

        <button
          (click)="helpdeskPage = helpdeskPage - 1"
          [disabled]="helpdeskPage === 1">

          Previous

        </button>

        <span>
          Page {{ helpdeskPage }} of {{ totalTicketPages }}
        </span>

        <button
          (click)="helpdeskPage = helpdeskPage + 1"
          [disabled]="helpdeskPage === totalTicketPages">

          Next

        </button>

      </div>
    </div>

  </div>

</div>
